@use '@/styles/variables' as *

.btn 
    padding: 0.5rem 1rem
    border-radius: 0.25rem

.primary
    background-color: $blue-color-one
    border: none
    transition: background-color 0.3s ease-in-out
    
    &:hover
        background-color: $blue-color-two

.secondary
    background-color: $white-one
    border: 1px solid $blue-color-one
    transition: background-color 0.3s ease-in-out
    
    &:hover
        background-color: $white-two
        border-color: $blue-color-two